   /*estilos generales*/
   body {
    background-color: #4ea0ae;
}
h5, h1 {
    font-family: 'Playfair Display', serif;
    color:#201931;
}
p, a, footer h6 {
    color: #fff48f;
}
h1, h6{
    color:#4ea0ae;
}
/*estilos especificos de checkout.hmtl*/
.table thead th {
    color: lightblue;
border-top: none;
border-bottom: none;}
h4, form label{
    color: lightblue;
}
section .texto p{
    color:#201931 ;
}
/*efectos*/
table tbody :hover {
    background-color: #201931;
    color : #fff48f ;
}
/*media querie tablet */
@media (min-width: 768px) and (max-width: 1356px){
    table tbody :hover {
    background-color: #fff48f;
    color :  #201931;
}
}
/*mediaquerie phones*/
@media (min-width: 280px) and (max-width: 767px){
    table tbody :hover {
    background-color: #fff48f;
    color :  #201931;
}
}
