 /*estilos generales*/
 body {
    background-color: #4ea0ae;
}
h5, h1 {
    font-family: 'Playfair Display', serif;
    color:#201931;
}
h4{
    color: lightblue;
}

p, a, footer h6 {
    color: #fff48f;
}
/*estilos específicos de paquetes.html*/
.ofertas{
    background-color: #394989;
}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 0%;
}
.card-img {
    height: 15vw;
    border-radius: 0%;
}
.card{
    padding-left: 0%;
    padding-right: 0%;
    border: none;
    border-radius: 0%;
}

.w-100{
    height: 500px;
}

.img-reviews{
    width: 30%;
    height: 15vw;
    object-fit: cover;
}

.card h5, h6,h1, div .resumen-compra h5 {
    color:#4ea0ae;
}
.resumen-compra p, .resumen-compra h5 {
    color: #fff48f;
}
section .texto p{
    color:#201931 ;
}
.resumen-compra h2, h4{
    color:lightblue;}


/*efectos*/
.btn .card:hover{ 
    box-shadow: 3px 3px 3px 2px hsl(258, 32%, 17%,0.8);
}
.resumen-compra h2:hover, .reviews:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
div .ofertas:hover {
    background-color: #3b2e5a;
}

/*mediaquerie para tablets*/
@media (min-width: 768px) and (max-width: 1356px){
.card-img-top{
    height: 25vw;
}
.img-reviews{
    height: 35vw;
   
}
.resumen-compra h5{
    font-size: 1.1rem;
   
}
.ofertas{
    background-color: #3b2e5a;
}

.card:hover{ 
    box-shadow:none;
}
.resumen-compra h2:hover, .reviews:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
}
/*mediaquerie para phones*/
@media (min-width: 280px) and (max-width: 767px){

.w-100{
    height: 250px;
}

.card-img-top{
    height: 50vw;
}
.img-reviews{
    width: 100%;
    height: 45vw;
}
.ofertas{
    background-color: #3b2e5a;
}
.card:hover{ 
    box-shadow:none;
}
.resumen-compra h2:hover, .reviews:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
}
