/*ESTILOS GENERALES*/
body {
    background-color: #4ea0ae;
   
}
h5, h1 {
    font-family: 'Playfair Display', serif;
    color:#201931 ;
}
h4{
    color: lightblue;
}

p, a, footer h6 {
    color: #fff48f;
}
.heading-bg-color {
    background-color: #fff48f;
}
.register-bg-color{
    background-color: #3b2e5a;
}

.card {
    padding-left: 0%;
    padding-right: 0%;
    border: none;
    border-radius: 0%;

}
.card h5, h6,h1, div .resumen-compra h5, .reviews h5 {
    color:#4ea0ae;
}

/*estilos de específicos de home*/    
.header-buscador{
    font-size: 40px;
}   
.cards-promociones .card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
    border-radius: 0%;
}

.blog .card-img {
    height: 16vw;
    border-radius: 0%;
}

.articulo_blog p{
    color:#3b2e5a;
}

.buscador {
    background-image: url(img/aerial-view-of-the-beach-shore.jpg);
    background-size:cover;
    height: 300px;
}

.ofertas{
    background-color: #394989;
}
/*estilos especificos de paquetes*/
.paquetes .ofertas{
    background-color: #394989;
}
.paquetes .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 0%;
}

.w-100{
    height: 500px;
}
.reviews{
    background-color: #fff;
}

.img-reviews{
    width: 30%;
    height: 15vw;
    object-fit: cover;
}
.resumen-compra p, .resumen-compra h5 {
    color: #fff48f;
}
section .texto p{
    color:#201931 ;
}
.resumen-compra h2, h4 {
    color:lightblue;
}

/*estilos especificos de checkout*/
.table thead th {
color: lightblue;
border-top: none;
border-bottom: none;
}
form label {
    color: lightblue;
}
.despcripcion-paquete .texto p {
    color:#201931 ;
}


/*EFECTOS*/
/*generales*/
.card:hover, .reviews:hover { 
    box-shadow: 3px 3px 3px 2px hsl(258, 32%, 17%,0.8);
}
.resumen-compra h2:hover,.articulo_blog:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
div .ofertas:hover {
    background-color: #3b2e5a;
}
/* efectos específicos de home*/

div .articulo_blog:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*efectos espeficicos de checkout*/
table tbody :hover {
    background-color: #201931;
    color : #fff48f ;
}

/* MEDIA QUERIE TABLETS*/

@media (min-width: 768px) and (max-width: 1356px){
    /*estilos generales*/
    .resumen-compra h2:hover, .reviews:hover, div .articulo_blog:hover {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    .card:hover{ 
        box-shadow: none;
    }
    .cards-promociones .card-img-top{
        height: 25vw;
        background-color:#3b2e5a;
    }
    /*estilos especificos de home*/
    .blog .card-img {
        height: 34vw;
        width: 95%;
    }
    .blog .card-body { 
        margin:auto;
        padding: 5px;
        width: 90%;
        height: 90%;
    }
    /*estilos especificos de paquetes*/
    .img-reviews{
        height: 35vw;
       
    }
    .resumen-compra h5{
        font-size: 1.1rem;
       
    }
    /*estilos especificos de checkout*/
    table tbody :hover {
        background-color: #fff48f;
        color :  #201931;
    }
    
}    

/* MEDIA QUERIE PHONES*/
@media (min-width: 280px) and (max-width: 767px){
/*estilos generales*/
    .resumen-compra h2:hover, .reviews:hover, div .articulo_blog:hover{
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    .card:hover{ 
        box-shadow: none;
    }
    div .ofertas{
        background-color:#3b2e5a;
    }
    .cards-promociones .card-img-top, .paquetes .card-img-top{
        height: 50vw;
    }
/*estilos especificos de home*/
.buscador{
        height:450px;
    }
.header-buscador{
        font-size: 30px;
    }
#destino, #ciudad {
    height: 3rem;
}

.blog .card-img {
    height: 50vw;
}
/*estilos especificos de paquetes*/
.w-100{
    height: 250px;
}

.img-reviews{
    width: 100%;
    height: 45vw;
}

/* estilos espeficicos de checkout*/
table tbody :hover {
    background-color: #fff48f;
    color :  #201931;
}

}